################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SPWSAppDeploymentClient/v15
/SPWSAppDeploymentClient/bin
/SPWSAppDeploymentClient/obj
